<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>201603251622</string>
		<key>icon</key>
		<string>123.png</string>
		<key>title</key>
		<string>苹果大战FBI</string>
		<key>detailTitle</key>
		<string>你猜谁会赢</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>201603251622</string>
		<key>icon</key>
		<string>123.png</string>
		<key>title</key>
		<string>苹果大战FBI</string>
		<key>detailTitle</key>
		<string>你猜谁会赢</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>201603251622</string>
		<key>icon</key>
		<string>123.png</string>
		<key>title</key>
		<string>苹果大战FBI</string>
		<key>detailTitle</key>
		<string>你猜谁会赢</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>201603251622</string>
		<key>icon</key>
		<string>123.png</string>
		<key>title</key>
		<string>苹果大战FBI</string>
		<key>detailTitle</key>
		<string>你猜谁会赢</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>201603251622</string>
		<key>icon</key>
		<string>123.png</string>
		<key>title</key>
		<string>苹果大战FBI</string>
		<key>detailTitle</key>
		<string>你猜谁会赢</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>201603251622</string>
		<key>icon</key>
		<string>123.png</string>
		<key>title</key>
		<string>苹果大战FBI</string>
		<key>detailTitle</key>
		<string>你猜谁会赢</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>201603251622</string>
		<key>icon</key>
		<string>123.png</string>
		<key>title</key>
		<string>苹果大战FBI</string>
		<key>detailTitle</key>
		<string>你猜谁会赢</string>
		<key>url</key>
		<string>http://www.baidu.com</string>
	</dict>
</array>
</plist>
